<div class="thePage">
  <form [formGroup]="theForm" novalidate>

    <div class="row" fxLayout="row">

      <ng-container *ngIf="control.type === 'Text'">
        <mat-form-field floatLabel="auto" fxFlex="100%">
          <mat-label>{{control.label}}:</mat-label>
          <input type="text" matInput formControlName="input" [placeholder]="control.placeholder ?? ''" />
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="control.type === 'Select'">
        <mat-form-field floatLabel="auto" fxFlex="100%">
          <mat-label>{{control.label}}:</mat-label>
          <mat-select formControlName="select">
            <mat-option [value]="1">aaaa</mat-option>
            <mat-option [value]="2">bbbb</mat-option>
            <mat-option [value]="3">cccc</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="control.type === 'checkbox'">
        <mat-checkbox formControlName="checkbox">{{control.label}}</mat-checkbox>
      </ng-container>

    </div>
  </form>
</div>