<!-- <div cdkDropList class="form" (cdkDropListDropped)="drop($event)"> -->
<div cdkDropListGroup class="form">

  <div *ngFor="let row of rows; let rowIdx = index">
    <div cdkDropList cdkDropListOrientation="horizontal" class="row" cdkDrag [cdkDropListData]="row.controls"
      (cdkDropListDropped)="dropInRow($event)" [cdkContextMenuTriggerFor]="row_context_menu"
      [cdkContextMenuTriggerData]="{rowIdx}">
      <div class="field" *ngFor="let control of row.controls; let controlIdx = index" cdkDrag [cdkDragData]="control"
        [cdkContextMenuTriggerFor]="field_context_menu" [cdkContextMenuTriggerData]="{control, rowIdx, controlIdx}">
        <app-edit-form-control [control]="control"></app-edit-form-control>
      </div>

      <div class="add-button-padding" *ngIf="row.controls.length === 0"></div>
      <div class="field-add-button">
        <button (click)="addControl(row)">+ {{rowIdx}}</button>
      </div>
    </div>
  </div>
</div>

<div>
  <button (click)="addRow()">Add Row</button>
  <button (click)="displayForm()">Display Form</button>
</div>

<ng-template #field_context_menu let-control="control" let-rowIdx="rowIdx" let-controlIdx="controlIdx">
  <div class="field-menu" cdkMenu>
    <button class="field-menu-item" cdkMenuItem (click)="editControlClicked(control)">Edit</button>
    <button class="field-menu-item" cdkMenuItem (click)="deleteControlClicked(rowIdx, controlIdx)">Delete</button>
  </div>
</ng-template>

<ng-template #row_context_menu let-rowIdx="rowIdx">
  <div class="field-menu" cdkMenu>
    {{rowIdx}}
    <button class="field-menu-item" cdkMenuItem (click)="moveUpRowClicked(rowIdx)">Move Up</button>
    <button class="field-menu-item" cdkMenuItem (click)="moveDownRowClicked(rowIdx)">Move Down</button>
    <button class="field-menu-item" cdkMenuItem (click)="deleteRowClicked(rowIdx)">Delete</button>
  </div>
</ng-template>