<div class="page" fxLayout="column">
  <form [formGroup]="theForm!" novalidate>

    <mat-form-field appearance="fill">
      <mat-label>{{'Control type'}}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let item of controlTypes" [value]="item.id">
          {{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row" fxLayout="row">
      <mat-form-field floatLabel="auto" fxFlex="100%">
        <mat-label>{{'Label:'}}</mat-label>
        <input type="text" matInput formControlName="label" [placeholder]="'Label to display above field'" />
      </mat-form-field>
    </div>


    <mat-form-field appearance="fill">
      <mat-label>{{'Field name'}}</mat-label>
      <mat-select formControlName="name">
        <mat-option *ngFor="let item of fieldNames" [value]="item.description">
          {{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="theForm?.value.type === 'text' || theForm?.value.type === 'textarea'" class="row" fxLayout="row">
      <mat-form-field floatLabel="auto" fxFlex="100%">
        <mat-label>{{'Placeholder:'}}</mat-label>
        <input type="text" matInput formControlName="placeholder" [placeholder]="'Placeholder text'" />
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="required">Required field?</mat-checkbox>

    <div class="action-bar" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
      <button mat-button (click)="saveClicked()">Save</button>
      <button mat-button (click)="cancelClicked()">Cancel</button>
    </div>

  </form>
</div>