<div class="page" fxLayout="column">
  <form [formGroup]="theForm!" novalidate>

    <mat-form-field appearance="fill">
      <mat-label>{{'Control type'}}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let item of controlTypes" [value]="item.id">
          {{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row" fxLayout="row">
      <mat-form-field floatLabel="auto" fxFlex="100%">
        <mat-label>{{'Label:'}}</mat-label>
        <input type="text" matInput formControlName="label" [placeholder]="'Label to display above field'" />
      </mat-form-field>
    </div>


    <mat-form-field appearance="fill">
      <mat-label>{{'Field name'}}</mat-label>
      <mat-select formControlName="name">
        <mat-option *ngFor="let item of fieldNames" [value]="item.description">
          {{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="theForm?.value.type === 'text' || theForm?.value.type === 'textarea'" class="row" fxLayout="row">
      <mat-form-field floatLabel="auto" fxFlex="100%">
        <mat-label>{{'Placeholder:'}}</mat-label>
        <input type="text" matInput formControlName="placeholder" [placeholder]="'Placeholder text'" />
      </mat-form-field>
    </div>

    <div *ngIf="theForm?.value.type === 'select'">
      <mat-form-field appearance="fill">
        <mat-label>{{'Select List'}}</mat-label>
        <mat-select formControlName="selectList">
          <mat-option *ngFor="let item of selectLists" [value]="item.id">
            {{item.description}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <!-- Validators -->
    <mat-checkbox formControlName="required">Required field?</mat-checkbox>

    <div
      *ngIf="theForm?.value.type === 'text' || theForm?.value.type === 'textarea' || theForm?.value.type === 'email' || theForm?.value.type === 'phone' || theForm?.value.type === 'number'">
      <div class="validator-row">
        <mat-form-field floatLabel="auto" fxFlex="100%">
          <mat-label>{{'Min. Length'}}</mat-label>
          <input type="number" matInput formControlName="minLength" />
        </mat-form-field>
      </div>
      <div class="validator-row">
        <mat-form-field floatLabel="auto" fxFlex="100%">
          <mat-label>{{'Max. Length'}}</mat-label>
          <input type="number" matInput formControlName="maxLength" />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="theForm?.value.type === 'number'">
      <div class="validator-row">
        <mat-form-field floatLabel="auto" fxFlex="100%">
          <mat-label>{{'Min. Value'}}</mat-label>
          <input type="number" matInput formControlName="minValue" />
        </mat-form-field>
      </div>
      <div class="validator-row">
        <mat-form-field floatLabel="auto" fxFlex="100%">
          <mat-label>{{'Max. Value'}}</mat-label>
          <input type="number" matInput formControlName="maxValue" />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="theForm?.value.type === 'checkbox'">
      <div class="validator-row">
        <mat-checkbox formControlName="requiredTrue">Required true?</mat-checkbox>
      </div>
    </div>

    <div>{{theForm?.value.type}}</div>


    <div class="action-bar" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
      <button mat-button (click)="saveClicked()">Save</button>
      <button mat-button (click)="cancelClicked()">Cancel</button>
    </div>

  </form>
</div>