
.page {
  height: 100%;
}

form {
  padding: 10px;
}

.row {
  width: 100%;
  height: fit-content;
}

.action-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
